/*ROOT IMPORTS*/
/*Scss Imports*/
/*Base*/
/*--FONTS--*/
/* font-family: "Frank Ruhl Libre", serif; font_family:Roboto/Font-weight; */
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/*--VARS--*/
/* Colors */
/*Border*/
/*Box-Shadow*/
/* with/height*/
/*Font*/
/*Flex mixin */
/*Background Image*/
/* with/height*/
/*Geo-loc*/
/*Components*/
/* Navbar */
.logo-nav {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  position: relative;
  transition: 5s;
}
.logo-nav:hover {
  rotate: 180deg;
}

.h1-title {
  font-family: "Frank Ruhl Libre", serif;
  position: relative;
  margin: 0;
}

.navbar-nav {
  width: 90%;
  text-align: center;
}
.navbar-nav nav.nav-item {
  width: 150px;
}
.navbar-nav nav.nav-item :hover {
  transition: 5ms;
}

.sidebar {
  color: white;
}

.open-sidebar {
  border-bottom: 1px solid white;
  transition: 10ms;
}
.open-sidebar :hover {
  background-color: rgb(139, 139, 137);
}

/* Second header section Image + btn*/
.background-header-index {
  background-image: url(../images/pixlr-image-generator-65eb22312e7af35202e36b5b.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0);
}

.btn-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.btn-box .btn_header {
  width: 300px;
  height: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 40px;
  background-color: gold;
  padding: 10px 50px 20px 50px;
  border: 1px solid black;
  transition: 1.5s;
  z-index: 1;
}
.btn-box .btn_header:hover {
  box-shadow: 2px 2px 2px rgb(247, 246, 246);
  top: 50px;
}

/*FOOTER*/
footer.nav-item {
  width: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 0;
  transition: 1s;
}

.nav-item a:hover {
  background-color: rgb(247, 246, 246);
}

.secondary-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.secondary-footer .logo-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.secondary-footer p {
  font-size: smaller;
}

/*Layouts*/
/* General style elements */
/* BODY */
body {
  max-width: 100%;
  max-height: 100%;
  background-color: rgb(187, 188, 193);
}
body h1, body h2, body h3 {
  font-family: "Playfair Display", "Frank Ruhl Libre", serif;
}
body p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
body a {
  font-family: "Roboto", sans-serif;
  font-size: smaller;
  color: black;
  text-decoration: none;
}
body .bg-secondary {
  background: linear-gradient(rgb(187, 188, 193), rgb(107, 107, 108));
}

/* HEADER */
header {
  width: 100%;
  height: 350px;
  position: relative;
  border-bottom: 1px solid black;
}

/*MAIN SECTION*/
/* General main elements */
.box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  max-width: 100%;
  height: 100%;
}

/*Grid template areas declaration*/
.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "box2 box3" "box5 box5" "box7 box7" "box4 box4";
  overflow: hidden;
}

/* Grid area first section  box-container */
.b2 {
  grid-area: box2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: 0;
  text-align: center;
  height: max-content;
  background-color: rgb(187, 188, 193);
  padding-bottom: 15px;
}
.b2 .text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: 0;
  gap: 0;
  background-color: rgba(225, 225, 227, 0.527);
  max-width: 100%;
  max-height: 700px;
  background: rgb(247, 246, 246);
  box-shadow: 1px 1px 1px 1px;
}
.b2 h2 {
  display: flex;
  justify-content: center;
  min-width: 100%;
  height: 50px;
  padding-top: 15px;
  font-size: 1.2rem;
}
.b2 p {
  display: flex;
  justify-content: justify;
  text-align: justify;
  width: 100%;
  max-width: 380px;
  max-height: max-content;
  font-size: 0.9rem;
}
.b2 .video_you .video {
  width: 100%;
  height: 250px;
  position: relative;
  border: none;
}
.b2 iframe:hover {
  border: 3px solid rgb(187, 188, 193);
}

/* Grid area second section  box-container */
.b3 {
  grid-area: box3;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: 0;
  gap: 0;
  background-color: rgb(187, 188, 193);
  width: 100%;
  padding-top: 10px;
}

.origo-world {
  background-image: url(../images/planet.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

.logo-title-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: 0;
  text-align: center;
  position: relative;
  text-shadow: black 3px -1px;
}
.logo-title-container .logo-title {
  width: 75%;
  height: auto;
  font-size: 2.5rem;
  font-weight: 500;
  font-style: italic;
  position: relative;
  top: 250px;
  color: rgb(247, 246, 246);
  transition: 2.5s;
  z-index: 2;
}
.logo-title-container .logo-title:hover {
  transform: scale(50%);
}
.logo-title-container .logo-world {
  width: 250px;
  height: 250px;
  position: relative;
  right: 5px;
  bottom: 90px;
  opacity: 60%;
  z-index: 1;
}
.logo-title-container .logo-world:hover {
  transform: rotate(-180deg);
}

/* Grid area third section  cards */
.b5 {
  grid-area: box5;
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: 0;
  gap: 0;
  background-color: rgb(238, 235, 223);
  padding: 10px;
  border-top: 1px solid black;
}
.b5 .card_title {
  position: relative;
  top: 20px;
}
.b5 .card-continer {
  max-width: 100%;
  height: 650px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: 0;
  gap: 20px;
}
.b5 .card-continer h2 {
  width: 50%;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
  top: 5px;
  font-size: 1.5rem;
  color: black;
}
.b5 .card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: 0;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  max-width: 400px;
  min-height: 250px;
  padding: 15px;
  background-color: rgb(247, 246, 246);
}
.b5 .card_border_number {
  width: 30px;
  height: 30px;
  justify-content: center;
  position: relative;
  left: 0;
  bottom: 5px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
.b5 .card_border_span {
  width: 25px;
  height: 25px;
  border: 2px solid black;
  position: relative;
  left: 5px;
  bottom: 2px;
}
.b5 .card_number {
  width: 15px;
  height: 15px;
  font-weight: 700;
  position: relative;
  left: 4px;
  bottom: 2px;
}
.b5 .subtitle {
  width: 100%;
  height: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: 0;
  justify-content: center;
  text-align: 0;
  font-size: 1rem;
  font-weight: 600;
}
.b5 .content {
  font-size: 0.9rem;
  padding-right: 10px;
  padding-bottom: 0px;
  text-align: justify;
}

.card-reason-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  padding-bottom: 20px;
}

.card-img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

/* Grid area fourth section  (Download buttons) */
.b7 {
  grid-area: box7;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: 0;
  justify-content: space-around;
  gap: 0;
  background: linear-gradient(rgb(187, 188, 193), rgb(107, 107, 108));
  width: 100%;
  padding: 20px;
  border-top: 1px solid black;
}
.b7 .download_title {
  min-width: 80px;
  height: 40px;
  font-size: 1rem;
  padding-right: 15px;
  padding-top: 5px;
}
.b7 .btn_box_apple {
  width: 100px;
  height: 50px;
  padding-top: 4px;
}
.b7 .btn_box_Playstr {
  width: 100px;
  height: 40px;
}
.b7 .btn_dwl {
  width: 140px;
  height: 80px;
  font-family: "Roboto", sans-serif;
  font-size: x-small;
  font-weight: 100;
  font-style: normal;
  color: rgb(238, 235, 223);
  background-color: rgb(101, 108, 101);
  padding: 10px;
  text-align: center;
}
.b7 .btn_dwl:hover {
  background-color: rgb(136, 138, 136);
}

/* Grid area fifth section  (carousel) */
.b4 {
  grid-area: box4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: 0;
  text-align: 0;
  background-color: rgb(187, 188, 193);
  width: 100%;
  height: 350px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.b4 .clients_title {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.b4 .carousel-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.b4 .client-experiences {
  width: 100%;
  height: 180px;
  object-fit: scale-down;
}

/*End main section*/
/*End IndexBst document*/
/* HOW IT WORKS */
.background-header-how-works {
  background-image: url(../images/pixlr-image-generator-65eb22312e7af35202e36b5c.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0);
}

.Orange_image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  position: relative;
  top: 80px;
  z-index: 2;
  border: 3px solid rgb(247, 246, 246);
}

.span {
  width: 300px;
  height: 300px;
  background-color: rgb(163, 120, 64);
  position: relative;
  bottom: 28%;
  z-index: 1;
}

.redirection_btn {
  width: 200px;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: 0;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 170px;
  background-color: rgb(223, 198, 139);
  padding: 10px 50px 30px 50px;
  border: 1px solid black;
  border-radius: 100PX;
  transition: 1s;
}
.redirection_btn:hover {
  box-shadow: 3px 3px 3px rgb(247, 246, 246);
  background-color: rgb(228, 208, 160);
  bottom: 160px;
}

.office-container {
  width: 95%;
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: 0;
  gap: 0;
  align-content: center;
}

.office {
  width: 100%;
  height: 160px;
  object-fit: cover;
  position: relative;
  bottom: 100%;
  border: 2px solid rgb(247, 246, 246);
}

/*End how it works*/
/* FIND TUTORS*/
/*HEADER*/
.background-header-find-tutors {
  background-image: url(../images/pixlr-image-generator-65eb22312e7af35202e36b5a.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0);
}

/*MAIN*/
/* First main section (box2) (Article+ video))*/
.video {
  width: 100%;
  height: 150px;
  position: relative;
  border: none;
}

/* Second main section (box3)-(map-search-section)*/
.container-map-continent {
  background-image: url(../images/Map-action.jpg);
  background-position: 50% 65%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0);
  border: 2px solid whitesmoke;
}
.container-map-continent .map-continent-title {
  width: 350px;
  height: 250px;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  background-color: rgb(247, 246, 246);
  border-color: 2px solid black;
  padding: 20px;
  text-align: center;
  box-shadow: 3px 3px 3px 3px rgb(187, 188, 193);
  opacity: 80%;
  transition: 1s;
}
.container-map-continent .map-continent-title:hover {
  transform: scale(80%);
  opacity: 80%;
}
.container-map-continent .search-tutors-continet {
  padding: 5px;
  background: rgb(107, 107, 108);
  border: 3px solid gray;
  border-radius: 15px;
  position: relative;
  top: 50px;
}
.container-map-continent .search-tutors-continet .input-search-btn {
  max-width: 100%;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid gray;
  padding: 0 10px;
  font-size: 1rem;
  font-style: bold;
}
.container-map-continent .search-tutors-continet .input-search-btn:hover {
  background-color: rgb(224, 224, 224);
  color: rgb(134, 134, 134);
  transition: 1s;
}
.container-map-continent .search-tutors-continet .search-btn {
  border-radius: 0 10px 10px 0px;
  border: 2px solid rgb(107, 107, 108);
}
.container-map-continent .search-tutors-continet .search-svg {
  width: 16px;
  height: 16px;
  border-radius: 15px;
}

/*main section fomr (Search-btn)*/
.tutors-card {
  background-image: url(../images/tutors-image.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0);
}
.tutors-card .card-title-tutors {
  width: 100%;
  height: 50px;
  color: #36201b;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 35px;
  z-index: 2;
}
.tutors-card .card-continer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}
.tutors-card .card-continer .rounded-card {
  width: 290px;
  height: 290px;
  border-radius: 50%;
  border: 2px solid black;
  opacity: 95%;
  transition: 1s;
  z-index: 2;
}
.tutors-card .card-continer .rounded-card:hover {
  background-color: rgb(172, 170, 170);
  color: rgb(29, 27, 27);
}
.tutors-card .card-continer .rounded-card .rounded-border {
  left: 100px;
  bottom: 30px;
}
.tutors-card .card-continer .rounded-card .rounded-span {
  left: 5px;
  bottom: 0;
}
.tutors-card .card-continer .rounded-card .rounded-number {
  left: 3px;
  bottom: 0;
}

/*Fourth main section (cards)*/
.acount_form_section {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: 0;
  gap: 0;
  background-color: rgb(238, 235, 223);
  overflow: hidden;
}
.acount_form_section .main_Acount_form {
  width: 95%;
  height: 550px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: 0;
  gap: 0;
  border: 3px double rgb(247, 246, 246);
  box-shadow: 2px 2px 2px 2px rgb(187, 188, 193);
}
.acount_form_section .acount_form_title {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: center;
  gap: 0;
  padding-right: 10px;
}

.acount_form_column_1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: flex-start;
  gap: 0;
  padding: 8px;
  background-color: rgb(187, 188, 193);
  border: 2px solid bg-white-card;
  z-index: 2;
  /* form_ lable_dropdown buttons */
}
.acount_form_column_1 label {
  padding: 5px 4.5rem 0 0;
}
.acount_form_column_1 input {
  padding: 8px;
  flex-grow: 1;
  text-align: start;
  border: rgb(187, 188, 193);
  outline: none;
}
.acount_form_column_1 input:hover {
  background-color: rgb(224, 224, 224);
  color: rgb(134, 134, 134);
  transition: 1s;
}
.acount_form_column_1 select {
  outline: none;
}
.acount_form_column_1 select:hover {
  background-color: rgb(224, 224, 224);
  color: rgb(134, 134, 134);
  transition: 1s;
}
.acount_form_column_1 .acount_form_name {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  border: none;
}
.acount_form_column_1 .acount_form_name label {
  padding-right: 4.8rem;
}
.acount_form_column_1 .acount_form_phone {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  border: none;
}
.acount_form_column_1 .acount_form_phone label {
  padding: 4px 0.7rem 0 0;
}
.acount_form_column_1 .acount_form_email {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  border: none;
}
.acount_form_column_1 .acount_form_password {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  border: none;
}
.acount_form_column_1 .acount_form_password label {
  padding-right: 3.1rem;
}
.acount_form_column_1 .acount_form_dopdown {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: start;
  gap: 0;
  border: none;
  line-height: 3;
}
.acount_form_column_1 .acount_form_dopdown .acount_form_country_container label {
  padding: 5px 1rem 0 3rem;
}
.acount_form_column_1 .acount_form_dopdown .acount_form_subject_container label {
  padding-left: 1.5rem;
}
.acount_form_column_1 .acount_form_dopdown .acount_form_country_container select {
  padding: 5px 3.5rem 0 1rem;
  border: none;
  cursor: pointer;
}
.acount_form_column_1 .acount_form_dopdown .acount_form_subject_container select {
  padding: 5px 3.5rem 0 1rem;
  border: none;
  cursor: pointer;
}

/*form_buttons*/
.acount_form_btns {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  border: none;
}
.acount_form_btns .form_btn_submit {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding-right: 25px;
}
.acount_form_btns .btn_reset {
  width: 90px;
  height: 30px;
  display: block;
  background-color: rgb(227, 227, 227);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: 1s;
}
.acount_form_btns .btn_submit {
  width: 90px;
  height: 30px;
  display: block;
  background-color: rgb(227, 227, 227);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: 1s;
}
.acount_form_btns .btn_reset:hover, .acount_form_btns .btn_submit:hover {
  background-color: rgb(214, 213, 213);
}

/*End find tutors*/
/*BECOME A TUTOR*/
.background-header-become-tutor {
  background-image: url(../images/pixlr-image-generator-65eb22312e7af35202e36b5a.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0);
}

.tutors-benefits-section {
  background-image: url(../images/office-teaching.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}
.tutors-benefits-section .tutors_benefits {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  z-index: 1;
}
.tutors-benefits-section .tutors_benefits h2 {
  padding-bottom: 40px;
  font-weight: 700;
  z-index: 1;
}
.tutors-benefits-section .tutors_benefits p {
  font-size: small;
  font-weight: 300;
  text-align: justify;
  background: rgba(240, 208, 79, 0.8);
  padding: 15px;
  z-index: 1;
}
.tutors-benefits-section .tutors_benefits p .letter-style {
  font-weight: 400;
}

.table-section {
  background-image: url(../images/betutor-img.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0);
}
.table-section .your_plan {
  opacity: 90%;
  z-index: 2;
}
.table-section .btn-choose {
  background: rgb(184, 183, 183);
  z-index: 2;
  transition: 0.5s;
}
.table-section .btn-choose:hover {
  background: rgb(227, 227, 227);
}

/*End become a tutor*/
/* CONTACT*/
.background-header-contact {
  background-image: url(../images/pixlr-image-generator-65eb22312e7af35202e36b5c.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0);
}

.Find-us {
  background-image: url(../../images/contact-NY.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0);
  padding-top: 100px;
}
.Find-us .find-us-container {
  width: 100%;
  height: 100%;
  padding: 40px;
}
.Find-us .find-us-container .flip-card {
  background-color: transparent;
  width: 100%;
  height: 400px;
  perspective: 1000px;
}
.Find-us .find-us-container .flip-card .flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 2s;
  transform-style: preserve-3d;
}
.Find-us .find-us-container .flip-card .flip-card-inner .flip-card-front {
  height: 200px;
  transform: rotateY(180deg);
}
.Find-us .find-us-container .flip-card .flip-card-inner .flip-card-front .message-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 70%;
}
.Find-us .find-us-container .flip-card .flip-card-inner .flip-card-front:hover {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
}
.Find-us .find-us-container .flip-card .flip-card-inner .flip-card-back {
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  position: absolute;
  top: 50%;
  -webkit-backface-visibility: hidden;
  transition: transform 0.8s;
}
.Find-us .find-us-container .flip-card .flip-card-inner .flip-card-back .contact-subt-find {
  width: 100%;
  height: 46px;
  font-size: 1.5rem;
  background: rgb(238, 235, 223);
  padding: 5px;
  opacity: 70%;
}
.Find-us .find-us-container .flip-card .flip-card-inner .flip-card-back .contact-title-find {
  width: 100%;
  height: 46px;
  font-size: 1.5rem;
  padding: 5px;
  opacity: 70%;
  background: rgb(238, 235, 223);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.map-contact {
  background-image: url(../../images/contact-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(60%);
}
.map-contact .map-contact-paragraph {
  width: 100%;
  height: 350px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-content: center;
  position: relative;
  top: 0px;
  background-color: black;
  color: rgb(247, 246, 246);
  box-shadow: 2px 2px 2px 2px rgb(247, 246, 246);
  opacity: 70%;
}
.map-contact .map-contact-paragraph:hover {
  background-color: rgb(247, 246, 246);
  color: black;
  border-color: 2px solid black;
  font-weight: 500;
  padding: 20px;
  text-align: start;
  box-shadow: 3px 3px 3px 3px rgb(187, 188, 193);
  opacity: 80%;
}

.Location {
  width: 100%;
  height: 40%;
  object-fit: cover;
  display: flex;
  flex-flow: column, nowrap;
  border: 5px solid rgb(247, 246, 246);
  box-shadow: 1px 1px 1px 1px rgb(187, 188, 193);
  padding-top: 0px;
  margin-top: 10px;
}

.contact-title-find {
  width: 100%;
  height: 50px;
  font-weight: 500;
  padding: 20px;
}

.contact-title {
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: column, nowrap;
  align-self: flex-start;
  font-weight: 500;
  padding-bottom: 100px;
}

.contact-form {
  width: 85%;
  border: 3px double rgb(247, 246, 246);
  box-shadow: 2px 2px 2px 2px rgb(187, 188, 193);
}

.contact-phone {
  padding: 10px 0;
}
.contact-phone label {
  padding-right: 20px;
}

textarea {
  width: max-content;
  height: 40px;
  padding-left: 40px;
}

.text-area {
  width: 100%;
  position: relative;
  left: 15px;
}

.text-area-form:hover {
  background-color: rgb(224, 224, 224);
  color: rgb(134, 134, 134);
  transition: 1s;
}

.form_btn_submitr {
  padding-top: 20px;
}

.form_btn_resetr {
  padding-left: 50px;
  padding-top: 20px;
}

/* -MEDIAQUERYS-*/
.map-continent-title {
  width: 340px;
  height: 250px;
  font-weight: 200;
  padding: 10px;
}
.map-continent-title:hover {
  transform: scale(105%);
}

/* MEDIAQ- 620px)*/
@media (max-width: 620px) {
  .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "box2 box2" "box3 box3" "box5 box5" "box7 box7" "box4 box4";
    overflow: hidden;
  }
  .b2 .text-container {
    background-color: rgba(225, 225, 227, 0.527);
  }
  .b2 p {
    display: flex;
    justify-content: justify;
    width: 100%;
    max-width: 300px;
    max-height: max-content;
    font-size: 0.9rem;
  }
  .b3 {
    border: 1px solid black;
  }
  .b3 .video-you .video {
    max-width: 100%;
    min-height: 150px;
    max-height: 100%;
    border: none;
  }
  .b5 {
    grid-area: box5;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgb(238, 235, 223);
    width: 100%;
    height: 1100px;
    border-top: 1px solid black;
  }
  .b5 .card-continer {
    max-width: 100%;
    height: 990px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
  }
  .b5 .card_title {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: 0;
    justify-content: center;
    gap: 0;
    padding-bottom: 70px;
    font-size: 1.2rem;
  }
  .b5 .card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: 0;
    justify-content: center;
    text-align: start;
    border: 1px solid black;
    max-width: 400px;
    min-height: 300px;
    padding: 15px;
    background-color: rgb(247, 246, 246);
  }
  .b5 .card_border_number {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
  }
  .card-reason-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    padding-bottom: 0;
  }
  /* HOW IT WORKS*/
  .Orange_image {
    width: 250px;
    height: 250px;
    position: relative;
    top: 70px;
  }
  .span {
    width: 300px;
    height: 300px;
    background-color: rgb(163, 120, 64);
    position: relative;
    bottom: 200px;
    z-index: 1;
  }
  .redirection_btn {
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: 0;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 170px;
    background-color: rgb(223, 198, 139);
    padding: 20px 50px 30px 50px;
    border: 2px solid black;
    border-radius: 100PX;
    transition: 1s;
  }
  .redirection_btn:hover {
    box-shadow: 3px 3px 3px rgb(247, 246, 246);
    bottom: 160px;
  }
  .office-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: 0;
    gap: 0;
    align-content: center;
  }
  .office {
    width: 350px;
    height: 350px;
    position: relative;
    bottom: 100%;
    border: 2px solid whitesmoke;
    object-fit: cover;
  }
  .card-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  /* FIND TUTORS*/
  .video-you {
    max-width: 100%;
    min-height: 150px;
  }
  .container-map-continent {
    height: 700px;
  }
  .container-map-continent .map-continent-title {
    width: 300px;
    height: 230px;
  }
  .container-map-continent .map-continent-title:hover {
    transform: scale(110%);
    opacity: 80%;
  }
  .tutors-card .card-title-tutors {
    position: relative;
    bottom: 270px;
    color: #cecdcd;
    z-index: 2;
  }
  .tutors-card .card-continer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 250px;
    height: 400px;
  }
  .tutors-card .card-continer .rounded-card {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    z-index: 2;
  }
  .tutors-card .card-continer .rounded-card .rounded-border {
    left: 100px;
    top: 0px;
    bottom: 50px;
  }
  .tutors-card .card-continer .rounded-card .rounded-span {
    left: 5px;
    bottom: 0px;
  }
  .tutors-card .card-continer .rounded-card .rounded-number {
    left: 5px;
    bottom: 0px;
  }
  .tutors-card .card-continer h3 {
    padding-top: 20px;
  }
  .tutors-card-image {
    height: 1100px;
  }
  .acount_form_title {
    width: 100%;
  }
  .acount_form_country_container label:first-child {
    display: none;
  }
  .acount_form_country_container .select_form_btn {
    width: 152px;
  }
  .acount_form_subject_container label:first-child {
    display: none;
  }
  /*Become a tutor*/
  .table-section {
    background-image: url(../images/betutor-img.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0);
  }
}

/*# sourceMappingURL=style.css.map */
