/*FOOTER*/

footer.nav-item {
    width: 60px;
    @include flex(row,nowrap,center,space-around,0);
    transition: 1s;

}

.nav-item a:hover {
    background-color: $bg-white-card;
}

.secondary-footer {
    width: 100%;
    @include flex(column,nowrap,center,center,0);
    .logo-footer {
        @include flex(row,nowrap,center,center,0);
       
    }

}
