/*BECOME A TUTOR*/
.background-header-become-tutor {
    @include bg-img(url(../images/pixlr-image-generator-65eb22312e7af35202e36b5a.png),center,0);
}

.tutors-benefits-section {
    @include bg-img(url(../images/office-teaching.jpg),center,100%);
    .tutors_benefits {
        @include flex-text(column,nowrap,center,center,center);
        padding: 20px;
        z-index: 1;
        h2 {
            padding-bottom: 40px;
            font-weight: 700;
            z-index: 1;
        }
        p {
            font-size:small;
            font-weight: 300;
            text-align: justify;
            background: $bg-yellow-op;
            padding: 15px;
            z-index: 1;
            .letter-style{
                font-weight: 400;

            }
        }

    }
}


.table-section {
    @include bg-img(url(../images/betutor-img.jpg),50%,0);
    .your_plan {
        opacity: 90%;
        z-index: 2;
    }
    .btn-choose {
        background: $bg-btn-choose;
        z-index: 2;
        transition: .5s;
        &:hover{
            background: $bg-btn-form;
        }
    } 
}

/*End become a tutor*/