/* FIND TUTORS*/

/*HEADER*/
.background-header-find-tutors {
    @include bg-img(url(../images/pixlr-image-generator-65eb22312e7af35202e36b5a.png),center,0);
}

/*MAIN*/

/* First main section (box2) (Article+ video))*/

.video {
    @include wht-heig(100%,150px);
    position: relative;
    border: none;
}

/* Second main section (box3)-(map-search-section)*/
.container-map-continent {
    @include bg-img(url(../images/Map-action.jpg),50% 65%,0);
    border: 2px solid whitesmoke;
    .map-continent-title{
        @include wht-heig(400px,300px);
       background-color: $bg-white-card ;
       border-color: 2px solid black;
       font-weight:500;
       padding: 20px;
       text-align: start;
       box-shadow: 3px 3px 3px 3px $main-grey;
       opacity: 70%;
       &:hover{
        transform: scale(120%);
        opacity: 80%;
       }
    }
    .search-tutors-continet {
        background: $search-grey;
        border: 3px solid gray;
        border-radius: 15px;
        position: relative;
        top: 50px;
        .input-search-btn {
            max-width: 100%;
            border-radius: 10px 0px 0px 10px;
            border: 1px solid gray;
            &:hover {
                background-color: $search-bg-hov;
                color: $search-btn-tex-hov;
                transition: 1s;
            }
        }
        .search-btn {
            border-radius: 0 10px 10px 0px;
            border: 2px solid $search-grey;
        }
        .search-svg {
            @include wht-heig(16px,16px);
            border-radius: 15px;
        }
        
    }

   
}

/*main section fomr (Search-btn)*/


.tutors-card {
    @include bg-img(url(../images/tutors-image.jpg),50%,0);
    .card-title-tutors {
        width: 100%;
        height: 50px;
        font-size: 1.5rem;
        font-weight: 700;
        padding-top: 35px;
        z-index: 2;
    }
    .card-continer{
        @include flex(row,nowrap,center,space-between,150px);
        .rounded-card {
            @include wht-heig(290px,290px);
            border-radius: 50%;
            border: 2px solid black;
            opacity: 95%;
            transition: 1s;
            z-index: 2;
            &:hover{
                background-color: #acaaaa;
                color:rgb(29, 27, 27);
            }
        }
    }
}

/*Fourth main section (cards)*/

.acount_form_section {
    @include wht-heig(100%,700px);
    @include flex(column,wrap,center,0,0);
    background-color: $text-btn-white;
    overflow: hidden;
    .main_Acount_form {
        @include wht-heig(95%,550px);
        @include flex(row,wrap,center,0,0);
        background-color: $grey-form;
        padding: 10px;
        border: 3px solid #f7f6f6;
    }
    .acount_form_title {
        @include wht-heig(100%,15%);
        @include flex(row,nowrap,start,center,0);
        padding-right: 10px;
    }

}




.acount_form_column_1 {
    @include wht-heig(100%,100%);
    @include flex(row,wrap,start,flex-start,0);
    padding: 8px;
    background-color: $main-grey;
    border: 2px solid bg-white-card;
    z-index: 2;
    label {
        padding: 5px 4.5rem 0 0;
    }
    input {
        padding: 8px;
        flex-grow: 1;
        text-align: start;
        border: $main-grey;
        outline: none;
        &:hover{
            background-color: search-bg-hov;
            color: $search-btn-tex-hov;
            transition: 1s;
        }
    }
    select {
        outline: none;
        &:hover {
            background-color: $search-bg-hov;
            color:$search-btn-tex-hov;
            transition: 1s;
        }
    }
    .acount_form_name {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        border: none;
    
        label {
            padding-right: 4.8rem;
        }
    }
    .acount_form_phone {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        border: none;
        label {
            padding: 4px .7rem 0 0;
        }
    }
    
    .acount_form_email {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        border: none;
    }
    .acount_form_password {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        border: none;
        label {
            padding-right: 3.1rem;
        }
    }
    /* form_ lable_dropdown buttons */
    .acount_form_dopdown {
        @include wht-heig(100%,50px);
        @include flex(row,nowrap,flex-end,start,0);
        border: none;
        line-height: 3;
    
        .acount_form_country_container label {
            padding: 5px 1rem 0 3rem;
        }
        .acount_form_subject_container label {
            padding-left: 1.5rem;
        }
        .acount_form_country_container select {
            padding: 5px 3.5rem 0 1rem;
            border: none;
            cursor: pointer;
        }
        .acount_form_subject_container select {
            padding: 5px 3.5rem 0 1rem;
            border: none;
            cursor: pointer;
        }
    }

}




/*form_buttons*/

.acount_form_btns {
    @include wht-heig(100%,100%);
    display: flex;
    flex-flow: row nowrap;
    border: none;
    .form_btn_submit {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        padding-right: 25px;
    }
    .btn_reset {
        @include wht-heig(90px,30px);
        display: block;
        background-color: $bg-btn-form;
        cursor: pointer;
        transition: 1s;
    }
    .btn_submit {
        @include wht-heig(90px,30px);
        display: block;
        background-color: $bg-btn-form;
        cursor: pointer;
        transition: 1s;
    }
    .btn_reset:hover,.btn_submit:hover {
    background-color: $bg-btn-form-hov;
    }
}

/*End find tutors*/