/* HOW IT WORKS */

.background-header-how-works {
    @include bg-img(url(../images/pixlr-image-generator-65eb22312e7af35202e36b5c.png),center,0);
}

.Orange_image {
    @include img(250px,250px,cover);
    position: relative;
    top: 80px;
    z-index: 2;
    border: 3px solid #f7f6f6;
}

.span {
    @include wht-heig(300px,300px);
    background-color: $orange-span;
    position: relative;
    bottom: 28%;
    z-index: 1;
}

.redirection_btn {
    @include wht-heig(200px,30px);
    @include flex-text(row,nowrap,0,center,center);
    position: relative;
    bottom: 170px;
    background-color: $orange-btn;
    padding: 20px 50px 30px 50px;
    border: $border;
    border-radius: 100PX;
    transition: 1s;
    &:hover {
        box-shadow: 3px 3px 3px #f7f6f6;
        background-color: rgb(228, 208, 160);
        bottom: 160px;
    }
}

.office-container {
    @include wht-heig(95%,100px);
    @include flex(column,nowrap,center,0,0);
    align-content: center;
}

.office {
    @include img(100%,160px,cover);
    position: relative;
    bottom: 100%;
    border: 2px solid whitesmoke;
    
}

/*End how it works*/