/* General style elements */

/* BODY */
body {
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(187, 188, 193);

    h1 h2 h3 {
        font-family: "Frank Ruhl Libre", serif;
    }

    p {
        font-family: "Roboto", sans-serif;

    }

    a {
        font-family: "Roboto", sans-serif;
        font-size: smaller;
        color: black;
        text-decoration: none;
    }

    .bg-secondary {
        background: $nav-gradient;
    }
}

/* HEADER */

header {
    width: 100%;
    height: 350px;
    position: relative;
    border-bottom: $border;
}



/*MAIN SECTION*/

/* General main elements */

.box-container {
    @include flex(row,nowrap,center,center,0);
    max-width: 100%;
    height: 100%;
}

/*Grid template areas declaration*/
.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    grid-template-areas:

        "box2 box3"
        "box5 box5"
        "box7 box7"
        "box4 box4";

    overflow: hidden;

}


/* Grid area first section  box-container */

.b2 {
    grid-area: box2;
    @include flex-text(column,nowrap,center,0,center);
    height: max-content;
    background-color: $main-grey;
    padding-bottom: 15px;

    .text-container {
        @include flex(column,nowrap,center,0,0);
        background-color: rgba(225, 225, 227, 0.527);
        max-width: 100%;
        max-height: 700px;
        background: $text-gradient;
        box-shadow: 3px 3px 3px 3px;
    }

    h2 {
        display: flex;
        justify-content: center;
        min-width: 100%;
        height: 50px;
        padding-top: 15px;
        font-size: 1.2rem;

    }

    p {
        display: flex;
        justify-content: justify;
        width: 100%;
        max-width: 380px;
        max-height: max-content;
        font-size: 0.9rem;

    }

    .video_you .video {
        @include wht-heig(100%,250px);
        position: relative;
        border: none;
    }

    iframe:hover {
        border: 2px solid #f7f6f6;
    }
}

/* Grid area second section  box-container */
.b3 {
    grid-area: box3;
    @include flex(column,nowrap,center,0,0);
    background-color: $main-grey;
    width: 100%;
    padding-top: 10px;

}

.origo-world {
    @include bg-img(url(../images/planet.jpg),50%,100%);
}

.logo-title-container {
    @include flex-text(column,wrap,center,0,center);
    position: relative;
    text-shadow: black 3px -3px;

    .logo-title {
        @include wht-heig(75%,auto);
        position: relative;
        top: 250px;
        color: $bg-white-card;
        font-size: 2.5rem;
        text-shadow: 3px solid #6b6b6c;
        transition: 2.5s;
        z-index: 2;

        &:hover {
            transform: scale(50%);
        }
    }

    .logo-world {
        @include wht-heig(250px,250px);
        position: relative;
        bottom: 90px;
        right: 5px;
        opacity: 60%;
        z-index: 1;
    }
}

/* Grid area third section  cards */

.b5 {
    grid-area: box5;
    @include wht-heig(100%,650px);
    @include flex(column,nowrap,center,0,0);
    background-color: $main-yellow;
    padding: 10px;
    border-top: $border;

    .card_title {
        position: relative;
        top: 20px;
    }

    .card-continer {
        max-width: 100%;
        height: 650px;
        @include flex(row,nowrap,center,0,20px);

        h2 {
            @include wht-heig(50%,50px);
            @include flex(row,nowrap,center,center,0);
            position: relative;
            top: 5px;
            font-size: 1.5rem;
            color: black;
        }
    }
    .card {
        @include flex-text(column,nowrap,0,center,center);
        border: $border;
        max-width: 400px;
        min-height: 250px;
        padding: 15px 15px 15px 15px;
        background-color: $bg-white-card;
    }
    .card_border_number {
        @include wht-heig(30px,30px,);
        justify-content: center;
        position: relative;
        left: 0px;
        bottom: 5px;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
    }
    .card_border_span {
        @include wht-heig(25px,25px);
        border: 2px solid black;
        position: relative;
        left: 5px;
        bottom: 2px;
    }
    .card_number {
        @include wht-heig(15px,15px);
        font-weight: 700;
        position: relative;
        left: 4px;
        bottom: 2px;
    }
    
    .subtitle {
        @include wht-heig(100%,30px);
        padding-bottom: 20px;
        @include flex-text(row,nowrap,0,center,0);
        font-size: 1rem;
        font-weight: 600;
       
    }
    .content {
        font-size: 0.9rem;
        padding-right: 10px;
        padding-bottom: 0px;
        text-align: justify;
    }
    
}
.card-reason-img {
    @include img(100%,180px,cover);
}
.card-reason-img {
    @include img(100%,250px,cover);
    padding-bottom: 20px;
}
.card-img {
    @include img(100%,40%,cover);
}


/* Grid area fourth section  (Download buttons) */

.b7 {
    grid-area: box7;
    @include flex(row,nowrap,0,space-around,0);
    background: $nav-gradient;
    width: 100%;
    padding: 20px;
    border-top: $border;
    .download_title {
        font-size: 1rem;
        min-width: 80px;
        height: 40px;
        padding-right: 15px;
        padding-top: 5px;
    }
    .btn_box_apple {
        @include wht-heig(100px,50px);
        padding-top: 4px;
    }
    .btn_box_Playstr {
        @include wht-heig(100px,40px);
    }
    .btn_dwl {
        @include wht-heig(140px,80px);
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-size: x-small;
        font-style: normal;
        color: $text-btn-white;
        background-color: $bg-btn-dwl;
        padding: 10px;
        text-align: center;
        &:hover {
            background-color: $bg-hov-btn-dwl;
        }
    }
    
}

/* Grid area fifth section  (carousel) */

.b4 {
    grid-area: box4;
    @include flex-text(row,nowrap,center,0,0);
    background-color: rgb(187, 188, 193);
    @include wht-heig(100%,350px);
    border-top: $border;
    border-bottom:$border;
    .clients_title {
        @include wht-heig(100%,60px);
        @include flex(row,nowrap,center,center,0);
    }
    
    .carousel-section {
        @include flex(row,nowrap,center,center,0);
    }
    .client-experiences {
        @include img(100%,180px,scale-down);
    }

}


/*End main section*/


/*End IndexBst document*/
