/* -MEDIAQUERYS-*/



/* MEDIAQ- 620px)*/

@media (max-width : 620px) {

    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

        grid-template-areas:

            "box2 box2"
            "box3 box3"
            "box5 box5"
            "box7 box7"
            "box4 box4";

        overflow: hidden;
    }
    .b2{
        .text-container {
            background-color: rgba(225, 225, 227, 0.527);
        }
        p {
            display: flex;
            justify-content: justify;
            width: 100%;
            max-width: 280px;
            max-height: max-content;
            font-size: 0.9rem;
        }
    }
    .b3{
        border: $border;
        .video-you .video {
            max-width: 100%;
            min-height: 150px;
            max-height: 100%;
            border: none;
        }

    }

    
    .b5 {
        grid-area: box5;
        flex-flow: column nowrap;
        align-items: center;
        background-color: rgb(238 235 223);
        width: 100%;
        height: 1100px;

        border-top: 1px solid black;
        .card-continer {
            max-width: 100%;
            height: 990px;
            @include flex(column,nowrap,start,space-between,10px);
        }
        .card_title {
            @include wht-heig(100%,300px);
            @include flex(row,nowrap,0,center,0);
            padding-bottom: 70px;
            font-size: 1.2rem;
        }
        .card {
            @include flex-text(column,nowrap,0,center,start);
            border: $border;
            max-width: 400px;
            min-height: 300px;
            padding: 15px;
            background-color: $bg-white-card;
        }
        .card_border_number {
            @include geo-loc;
            top: 10px;
            border-bottom: 2px solid black;
            border-left: 2px solid black;
        }
    }

    .card-reason-img {
        @include img(100%,50%,cover);
        padding-bottom: 0;
    }

    /* HOW IT WORKS*/

    .Orange_image {
        @include wht-heig(250px,250px);
        position: relative;
        top: 70px;
    }

    .span {
        @include wht-heig(300px,300px);
        background-color: $orange-span;
        position: relative;
        bottom: 200px;
        z-index: 1;
    }

    .redirection_btn {
        @include wht-heig(200px,30px);
        @include flex-text(row,nowrap,0,center,center);
        position: relative;
        bottom: 170px;
        background-color: rgb(223, 198, 139);
        padding: 20px 50px 30px 50px;
        border: 2px solid black;
        border-radius: 100PX;
        transition: 1s;

        &:hover {
            box-shadow: 3px 3px 3px $bg-white-card;
            bottom: 160px;
        }
    }

    .office-container {
        @include wht-heig(100%,100px);
        @include flex(column,nowrap,center,0,0);
        align-content: center;
    }

    .office {
        @include wht-heig(100px,200px);
        position: relative;
        bottom: 100%;
        border: 2px solid whitesmoke;
        object-fit: cover;
    }

    .card-img {
        @include img(100%,50%,cover);
    }

    /* FIND TUTORS*/

    .video-you {
        max-width: 100%;
        min-height: 150px;
    }

    .container-map-continent {
        height: 700px;
    }

    .tutors-card{
        .card-title-tutors {
           
            position: relative;
            bottom: 270px;
            color:#cecdcd;
            z-index: 2;
        }
        .card-continer{
            @include flex(column,nowrap,center,center,250px);
            height: 400px;
            .rounded-card {
                @include wht-heig(290px,290px);
                border-radius: 50%;
                z-index: 2;
            }
        }
    }

    .tutors-card-image {
        height: 1100px;
    }

    .acount_form_title {
        width: 100%;
    }

    .acount_form_country_container label:first-child {
        display: none;
    }

    .acount_form_country_container .select_form_btn {
        width: 152px;
    }

    .acount_form_subject_container label:first-child {
        display: none;
    }

    /*Become a tutor*/
    .table-section {
        @include bg-img(url(../images/betutor-img.jpg),50%,0);
    }
    
}